Epsitec.Cresus/Common.Tests.Vs/Resources/SalaryDeclarationServiceTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
        targetNamespace="http://www.swissdec.ch/schema/sd/20090803/SalaryDeclarationServiceTypes"
        xmlns:tns="http://www.swissdec.ch/schema/sd/20090803/SalaryDeclarationServiceTypes"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:sd="http://www.swissdec.ch/schema/sd/20090803/SalaryDeclaration"
        xmlns:ct="http://www.swissdec.ch/schema/sd/20090803/SalaryDeclarationContainer"
        elementFormDefault="qualified"
        attributeFormDefault="unqualified"
        version="0.0">


    <!-- state of standardisation: FINAL
         publication: 2009-12-22
         a. boehm
    -->

    <xs:import
            namespace="http://www.swissdec.ch/schema/sd/20090803/SalaryDeclaration"
            schemaLocation="SalaryDeclaration.xsd"/>

    <xs:import
            namespace="http://www.swissdec.ch/schema/sd/20090803/SalaryDeclarationContainer"
            schemaLocation="SalaryDeclarationContainer.xsd"/>

    <!-- definitions Ping -->
    <xs:element name="Ping" type="tns:EmptyType"/>
    <xs:element name="PingResponse" type="tns:PingType"/>

    <xs:complexType name="PingType">
        <xs:sequence>
            <xs:element name="SystemDateTime" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EmptyType"/>

    <!-- definitions CheckInteroperability -->
    <xs:element name="CheckInteroperability" type="tns:CheckInteroperabilityType"/>
    <xs:element name="CheckInteroperabilityResponse" type="tns:CheckInteroperabilityResponseType"/>

    <xs:complexType name="CheckInteroperabilityType">
        <xs:sequence>
            <!-- use following UmlautString: ÄËÖÜÁÉÓÚÀÈÒÙÂÊÔÛ -->
            <xs:element name="UmlautString" type="xs:string"/>
            <!-- use following value for the FirstOperand: 999000000000.00 (999 milliards)-->
            <!-- verwende folgenden Wert als FirstOperand: 999000000000.00 (999 Milliarden)-->
            <xs:element name="FirstOperand" type="sd:SalaryAmountType"/>
            <xs:element name="SecondOperand" type="sd:SalaryAmountType"/>
            <xs:element name="SystemDateTime" type="xs:dateTime"/>
            <!-- MonitoringID: acts as identyfier for writing and accessing
            monitoring informations in/from a reference application
            (related to testing and certification) -->
            <xs:element name="MonitoringID" type="ct:IDType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CheckInteroperabilityResponseType">
        <xs:sequence>
            <!-- we expect following string as value of UmlautString: äëöüáéóúàèòùâêôû -->
            <xs:element name="UmlautStringIsCorrect" type="sd:SimpleBooleanType"/>
            <!-- expected are 999000000000.00 (999 billions) -->
            <!-- erwartet werden 999000000000.00 (999 Milliarden) -->
            <xs:element name="FirstOperandIsCorrect" type="sd:SimpleBooleanType"/>
            <xs:element name="UmlautString" type="xs:string"/>
            <xs:element name="AdditionResult" type="sd:SalaryAmountType"/>
            <xs:element name="SubtractionResult" type="sd:SalaryAmountType"/>
            <xs:element name="SystemDateTime" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ****************************** -->
    <!-- *** DECLARE SALARY PROCESS *** -->
    <!-- ****************************** -->
    <!-- definitions DeclareSalary -->
    <xs:element name="DeclareSalary" type="ct:SalaryDeclarationRequestType">
        <xs:annotation>
            <xs:documentation>Lohnmeldung ('die-ELM-Struktur') synchron</xs:documentation>
        </xs:annotation>
        <xs:unique name="AHV-AVS-ID-Key">
            <xs:selector xpath="ct:SalaryDeclaration/sd:Company/sd:Insurances/sd:AHV-AVS"/>
            <xs:field xpath="@institutionID"/>
        </xs:unique>
        <xs:keyref name="AHV-AVS-ID-Ref" refer="tns:AHV-AVS-ID-Key">
            <xs:selector xpath="ct:Job/ct:Addressees/ct:AHV-AVS"/>
            <xs:field xpath="@institutionIDRef"/>
        </xs:keyref>
        <xs:unique name="UVG-LAA-ID-Key">
            <xs:selector
                    xpath="ct:SalaryDeclaration/sd:Company/sd:Insurances/sd:UVG-LAA-Suva|ct:SalaryDeclaration/sd:Company/sd:Insurances/sd:UVG-LAA"/>
            <xs:field xpath="@institutionID"/>
        </xs:unique>
        <xs:keyref name="UVG-LAA-ID-Ref" refer="tns:UVG-LAA-ID-Key">
            <xs:selector xpath="ct:Job/ct:Addressees/ct:UVG-LAA"/>
            <xs:field xpath="@institutionIDRef"/>
        </xs:keyref>
        <xs:unique name="UVGZ-LAAC-ID-Key">
            <xs:selector xpath="ct:SalaryDeclaration/sd:Company/sd:Insurances/sd:UVGZ-LAAC"/>
            <xs:field xpath="@institutionID"/>
        </xs:unique>
        <xs:keyref name="UVGZ-LAAC-ID-Ref" refer="tns:UVGZ-LAAC-ID-Key">
            <xs:selector xpath="ct:Job/ct:Addressees/ct:UVGZ-LAAC"/>
            <xs:field xpath="@institutionIDRef"/>
        </xs:keyref>
        <xs:unique name="KTG-AMC-ID-Key">
            <xs:selector xpath="ct:SalaryDeclaration/sd:Company/sd:Insurances/sd:KTG-AMC"/>
            <xs:field xpath="@institutionID"/>
        </xs:unique>
        <xs:keyref name="KTG-AMC-ID-Ref" refer="tns:KTG-AMC-ID-Key">
            <xs:selector xpath="ct:Job/ct:Addressees/ct:KTG-AMC"/>
            <xs:field xpath="@institutionIDRef"/>
        </xs:keyref>
        <xs:unique name="BVG-LPP-ID-Key">
            <xs:selector xpath="ct:SalaryDeclaration/sd:Company/sd:Insurances/sd:BVG-LPP"/>
            <xs:field xpath="@institutionID"/>
        </xs:unique>
        <xs:keyref name="BVG-LPP-ID-Ref" refer="tns:BVG-LPP-ID-Key">
            <xs:selector xpath="ct:Job/ct:Addressees/ct:BVG-LPP"/>
            <xs:field xpath="@institutionIDRef"/>
        </xs:keyref>
        <xs:unique name="FAK-CAF-ID-Key">
            <xs:selector xpath="ct:SalaryDeclaration/sd:Company/sd:Insurances/sd:FAK-CAF"/>
            <xs:field xpath="@institutionID"/>
        </xs:unique>
        <xs:keyref name="FAK-CAF-ID-Ref" refer="tns:FAK-CAF-ID-Key">
            <xs:selector xpath="ct:Job/ct:Addressees/ct:FAK-CAF"/>
            <xs:field xpath="@institutionIDRef"/>
        </xs:keyref>
    </xs:element>
    <xs:element name="DeclareSalaryResponse" type="ct:SalaryDeclarationStatusResponseType">
        <xs:annotation>
            <xs:documentation>Quittung Lohnmeldung</xs:documentation>
        </xs:annotation>
    </xs:element>

    <!-- definitions DeclareSalaryDeferred -->
    <xs:element name="DeclareSalaryDeferred" type="ct:SalaryDeclarationRequestType">
        <xs:annotation>
            <xs:documentation>Lohnmeldung ('die-ELM-Struktur') asynchron</xs:documentation>
        </xs:annotation>
        <xs:unique name="AHV-AVS-ID-Key2">
            <xs:selector xpath="ct:SalaryDeclaration/sd:Company/sd:Insurances/sd:AHV-AVS"/>
            <xs:field xpath="@institutionID"/>
        </xs:unique>
        <xs:keyref name="AHV-AVS-ID-Ref2" refer="tns:AHV-AVS-ID-Key2">
            <xs:selector xpath="ct:Job/ct:Addressees/ct:AHV-AVS"/>
            <xs:field xpath="@institutionIDRef"/>
        </xs:keyref>
        <xs:unique name="UVG-LAA-ID-Key2">
            <xs:selector
                    xpath="ct:SalaryDeclaration/sd:Company/sd:Insurances/sd:UVG-LAA-Suva|ct:SalaryDeclaration/sd:Company/sd:Insurances/sd:UVG-LAA"/>
            <xs:field xpath="@institutionID"/>
        </xs:unique>
        <xs:keyref name="UVG-LAA-ID-Ref2" refer="tns:UVG-LAA-ID-Key2">
            <xs:selector xpath="ct:Job/ct:Addressees/ct:UVG-LAA"/>
            <xs:field xpath="@institutionIDRef"/>
        </xs:keyref>
        <xs:unique name="UVGZ-LAAC-ID-Key2">
            <xs:selector xpath="ct:SalaryDeclaration/sd:Company/sd:Insurances/sd:UVGZ-LAAC"/>
            <xs:field xpath="@institutionID"/>
        </xs:unique>
        <xs:keyref name="UVGZ-LAAC-ID-Ref2" refer="tns:UVGZ-LAAC-ID-Key2">
            <xs:selector xpath="ct:Job/ct:Addressees/ct:UVGZ-LAAC"/>
            <xs:field xpath="@institutionIDRef"/>
        </xs:keyref>
        <xs:unique name="KTG-AMC-ID-Key2">
            <xs:selector xpath="ct:SalaryDeclaration/sd:Company/sd:Insurances/sd:KTG-AMC"/>
            <xs:field xpath="@institutionID"/>
        </xs:unique>
        <xs:keyref name="KTG-AMC-ID-Ref2" refer="tns:KTG-AMC-ID-Key2">
            <xs:selector xpath="ct:Job/ct:Addressees/ct:KTG-AMC"/>
            <xs:field xpath="@institutionIDRef"/>
        </xs:keyref>
        <xs:unique name="BVG-LPP-ID-Key2">
            <xs:selector xpath="ct:SalaryDeclaration/sd:Company/sd:Insurances/sd:BVG-LPP"/>
            <xs:field xpath="@institutionID"/>
        </xs:unique>
        <xs:keyref name="BVG-LPP-ID-Ref2" refer="tns:BVG-LPP-ID-Key2">
            <xs:selector xpath="ct:Job/ct:Addressees/ct:BVG-LPP"/>
            <xs:field xpath="@institutionIDRef"/>
        </xs:keyref>
        <xs:unique name="FAK-CAF-ID-Key2">
            <xs:selector xpath="ct:SalaryDeclaration/sd:Company/sd:Insurances/sd:FAK-CAF"/>
            <xs:field xpath="@institutionID"/>
        </xs:unique>
        <xs:keyref name="FAK-CAF-ID-Ref2" refer="tns:FAK-CAF-ID-Key2">
            <xs:selector xpath="ct:Job/ct:Addressees/ct:FAK-CAF"/>
            <xs:field xpath="@institutionIDRef"/>
        </xs:keyref>
    </xs:element>
    <xs:element name="DeclareSalaryDeferredResponse" type="ct:DeclareSalaryDeferredResponseType">
        <xs:annotation>
            <xs:documentation>JobKey zur Quittung Lohnmeldung</xs:documentation>
        </xs:annotation>
    </xs:element>

    <!-- definitions GetStatusFromDeferredDeclaration -->
    <xs:element name="GetStatusFromDeclareSalaryDeferred" type="ct:GetStatusFromDeclareSalaryDeferredType">
        <xs:annotation>
            <xs:documentation>JobKey zur Quittung Lohnmeldung</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="GetStatusFromDeclareSalaryDeferredResponse" type="ct:SalaryDeclarationStatusResponseType">
        <xs:annotation>
            <xs:documentation>Quittung Lohnmeldung</xs:documentation>
        </xs:annotation>
    </xs:element>

    <!-- definitions GetContributionsFromDeclareSalary -->
    <xs:element name="GetContributionsFromDeclareSalary" type="ct:GetContributionsFromDeclareSalaryType">
        <xs:annotation>
            <xs:documentation>Credentials zum Abrufen der Personen mit ihren Beiträge</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="GetContributionsFromDeclareSalaryResponse"
                type="ct:GetContributionsFromDeclareSalaryResponseType">
        <xs:annotation>
            <xs:documentation>Personen mit Beiträgen</xs:documentation>
        </xs:annotation>
    </xs:element>

    <!-- ************************************ -->
    <!-- *** SYNCHRONIZE CONTRACT PROCESS *** -->
    <!-- ************************************ -->
    <!-- definitions SynchronizeContract -->
    <xs:element name="SynchronizeContract" type="ct:SalaryDeclarationRequestType">
        <xs:annotation>
            <xs:documentation>Vorabgleichmeldung ('die-ELM-Struktur') synchron</xs:documentation>
        </xs:annotation>
        <xs:unique name="AHV-AVS-ID-Key3">
            <xs:selector xpath="ct:SalaryDeclaration/sd:Company/sd:Insurances/sd:AHV-AVS"/>
            <xs:field xpath="@institutionID"/>
        </xs:unique>
        <xs:keyref name="AHV-AVS-ID-Ref3" refer="tns:AHV-AVS-ID-Key3">
            <xs:selector xpath="ct:Job/ct:Addressees/ct:AHV-AVS"/>
            <xs:field xpath="@institutionIDRef"/>
        </xs:keyref>
        <xs:unique name="UVG-LAA-ID-Key3">
            <xs:selector
                    xpath="ct:SalaryDeclaration/sd:Company/sd:Insurances/sd:UVG-LAA-Suva|ct:SalaryDeclaration/sd:Company/sd:Insurances/sd:UVG-LAA"/>
            <xs:field xpath="@institutionID"/>
        </xs:unique>
        <xs:keyref name="UVG-LAA-ID-Ref3" refer="tns:UVG-LAA-ID-Key3">
            <xs:selector xpath="ct:Job/ct:Addressees/ct:UVG-LAA"/>
            <xs:field xpath="@institutionIDRef"/>
        </xs:keyref>
        <xs:unique name="UVGZ-LAAC-ID-Key3">
            <xs:selector xpath="ct:SalaryDeclaration/sd:Company/sd:Insurances/sd:UVGZ-LAAC"/>
            <xs:field xpath="@institutionID"/>
        </xs:unique>
        <xs:keyref name="UVGZ-LAAC-ID-Ref3" refer="tns:UVGZ-LAAC-ID-Key3">
            <xs:selector xpath="ct:Job/ct:Addressees/ct:UVGZ-LAAC"/>
            <xs:field xpath="@institutionIDRef"/>
        </xs:keyref>
        <xs:unique name="KTG-AMC-ID-Key3">
            <xs:selector xpath="ct:SalaryDeclaration/sd:Company/sd:Insurances/sd:KTG-AMC"/>
            <xs:field xpath="@institutionID"/>
        </xs:unique>
        <xs:keyref name="KTG-AMC-ID-Ref3" refer="tns:KTG-AMC-ID-Key3">
            <xs:selector xpath="ct:Job/ct:Addressees/ct:KTG-AMC"/>
            <xs:field xpath="@institutionIDRef"/>
        </xs:keyref>
        <xs:unique name="BVG-LPP-ID-Key3">
            <xs:selector xpath="ct:SalaryDeclaration/sd:Company/sd:Insurances/sd:BVG-LPP"/>
            <xs:field xpath="@institutionID"/>
        </xs:unique>
        <xs:keyref name="BVG-LPP-ID-Ref3" refer="tns:BVG-LPP-ID-Key3">
            <xs:selector xpath="ct:Job/ct:Addressees/ct:BVG-LPP"/>
            <xs:field xpath="@institutionIDRef"/>
        </xs:keyref>
        <xs:unique name="FAK-CAF-ID-Key3">
            <xs:selector xpath="ct:SalaryDeclaration/sd:Company/sd:Insurances/sd:FAK-CAF"/>
            <xs:field xpath="@institutionID"/>
        </xs:unique>
        <xs:keyref name="FAK-CAF-ID-Ref3" refer="tns:FAK-CAF-ID-Key3">
            <xs:selector xpath="ct:Job/ct:Addressees/ct:FAK-CAF"/>
            <xs:field xpath="@institutionIDRef"/>
        </xs:keyref>
    </xs:element>
    <xs:element name="SynchronizeContractResponse" type="ct:SalaryDeclarationStatusResponseType">
        <xs:annotation>
            <xs:documentation>Quittung Vorabgleichmeldung</xs:documentation>
        </xs:annotation>
    </xs:element>

    <!-- definitions SynchronizeContractDeferred -->
    <xs:element name="SynchronizeContractDeferred" type="ct:SalaryDeclarationRequestType">
        <xs:annotation>
            <xs:documentation>Vorabgleichmeldung ('die-ELM-Struktur') asynchron</xs:documentation>
        </xs:annotation>
        <xs:unique name="AHV-AVS-ID-Key4">
            <xs:selector xpath="ct:SalaryDeclaration/sd:Company/sd:Insurances/sd:AHV-AVS"/>
            <xs:field xpath="@institutionID"/>
        </xs:unique>
        <xs:keyref name="AHV-AVS-ID-Ref4" refer="tns:AHV-AVS-ID-Key4">
            <xs:selector xpath="ct:Job/ct:Addressees/ct:AHV-AVS"/>
            <xs:field xpath="@institutionIDRef"/>
        </xs:keyref>
        <xs:unique name="UVG-LAA-ID-Key4">
            <xs:selector
                    xpath="ct:SalaryDeclaration/sd:Company/sd:Insurances/sd:UVG-LAA-Suva|ct:SalaryDeclaration/sd:Company/sd:Insurances/sd:UVG-LAA"/>
            <xs:field xpath="@institutionID"/>
        </xs:unique>
        <xs:keyref name="UVG-LAA-ID-Ref4" refer="tns:UVG-LAA-ID-Key4">
            <xs:selector xpath="ct:Job/ct:Addressees/ct:UVG-LAA"/>
            <xs:field xpath="@institutionIDRef"/>
        </xs:keyref>
        <xs:unique name="UVGZ-LAAC-ID-Key4">
            <xs:selector xpath="ct:SalaryDeclaration/sd:Company/sd:Insurances/sd:UVGZ-LAAC"/>
            <xs:field xpath="@institutionID"/>
        </xs:unique>
        <xs:keyref name="UVGZ-LAAC-ID-Ref4" refer="tns:UVGZ-LAAC-ID-Key4">
            <xs:selector xpath="ct:Job/ct:Addressees/ct:UVGZ-LAAC"/>
            <xs:field xpath="@institutionIDRef"/>
        </xs:keyref>
        <xs:unique name="KTG-AMC-ID-Key4">
            <xs:selector xpath="ct:SalaryDeclaration/sd:Company/sd:Insurances/sd:KTG-AMC"/>
            <xs:field xpath="@institutionID"/>
        </xs:unique>
        <xs:keyref name="KTG-AMC-ID-Ref4" refer="tns:KTG-AMC-ID-Key4">
            <xs:selector xpath="ct:Job/ct:Addressees/ct:KTG-AMC"/>
            <xs:field xpath="@institutionIDRef"/>
        </xs:keyref>
        <xs:unique name="BVG-LPP-ID-Key4">
            <xs:selector xpath="ct:SalaryDeclaration/sd:Company/sd:Insurances/sd:BVG-LPP"/>
            <xs:field xpath="@institutionID"/>
        </xs:unique>
        <xs:keyref name="BVG-LPP-ID-Ref4" refer="tns:BVG-LPP-ID-Key4">
            <xs:selector xpath="ct:Job/ct:Addressees/ct:BVG-LPP"/>
            <xs:field xpath="@institutionIDRef"/>
        </xs:keyref>
        <xs:unique name="FAK-CAF-ID-Key4">
            <xs:selector xpath="ct:SalaryDeclaration/sd:Company/sd:Insurances/sd:FAK-CAF"/>
            <xs:field xpath="@institutionID"/>
        </xs:unique>
        <xs:keyref name="FAK-CAF-ID-Ref4" refer="tns:FAK-CAF-ID-Key4">
            <xs:selector xpath="ct:Job/ct:Addressees/ct:FAK-CAF"/>
            <xs:field xpath="@institutionIDRef"/>
        </xs:keyref>
    </xs:element>
    <xs:element name="SynchronizeContractDeferredResponse" type="ct:DeclareSalaryDeferredResponseType">
        <xs:annotation>
            <xs:documentation>JobKey zur Quittung Vorabgleichmeldung</xs:documentation>
        </xs:annotation>
    </xs:element>

    <!-- definitions GetStatusFromSynchronizeContractDeferred -->
    <xs:element name="GetStatusFromSynchronizeContractDeferred" type="ct:GetStatusFromDeclareSalaryDeferredType">
        <xs:annotation>
            <xs:documentation>JobKey zur Quittung Vorabgleichmeldung</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="GetStatusFromSynchronizeContractDeferredResponse" type="ct:SalaryDeclarationStatusResponseType">
        <xs:annotation>
            <xs:documentation>Quittung Vorabgleichmeldung</xs:documentation>
        </xs:annotation>
    </xs:element>

    <!-- definitions GetResultFromSynchronizeContract -->
    <xs:element name="GetResultFromSynchronizeContract" type="ct:GetContributionsFromDeclareSalaryType">
        <xs:annotation>
            <xs:documentation>Credentials zum Abrufen der Personen ohne ihre Beiträge</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="GetResultFromSynchronizeContractResponse" type="ct:GetContributionsFromDeclareSalaryResponseType">
        <xs:annotation>
            <xs:documentation>Personen ohne ihre Beiträge</xs:documentation>
        </xs:annotation>
    </xs:element>

    <!-- *********** -->
    <!-- ** FAULT ** -->
    <!-- *********** -->
    <!-- definition SalaryDeclarationFault -->
    <xs:element name="SalaryDeclarationFault" type="ct:SalaryDeclarationFaultType">
        <xs:annotation>
            <xs:documentation>SalaryDeclarationFault</xs:documentation>
        </xs:annotation>
    </xs:element>

</xs:schema>